In [25]:
import pandas as pd
import numpy as np

In [33]:
NODE_TOTAL=30
ITERATION=9

MSG_NO_ROUTE = "ping: connect: No route to host"

In [34]:
# Create an empty DataFrame with columns
columns = ['Iter', 'tx_node_id', 'pingRoutes', 'pingLoss']
df = pd.DataFrame(columns=columns)

In [35]:
i = 0
# Open a ping log files for reading
for tx_node_id in range(NODE_TOTAL):
    for iter in range(ITERATION):
        with open('/tmp/seedsim/tc_command/{}/pingLog/log_{}.txt'.format(tx_node_id, iter), 'r') as file:
            # Read the entire file
            content = file.read()
            routes = []
            loss = np.nan
            if MSG_NO_ROUTE not in content:
#                 print(tx_node_id, iter)
#                 print(content.split('statistics')[1])            
                loss = int(content.split('statistics')[1].split('\n')[1].split(' packet loss')[0].split(',')[-1].replace('%', '').strip())
                if loss != 100:
                    for next_hop in content.split('RR:')[1].split('\n'):
                        if next_hop == "": break
                        routes.append(str(int(next_hop.strip().split('.')[-1])%100))
#                     print(routes)
                    routes = ' '.join(routes)
            df.loc[i] = {'Iter': iter, 'tx_node_id': tx_node_id, 'pingRoutes': routes, 'pingLoss': loss}
            i = i+1

In [36]:
df

     Iter  tx_node_id           pingRoutes  pingLoss
0       0           0  0 6 11 29 29 11 7 0      50.0
1       1           0  0 6 11 29 29 11 7 0      50.0
2       2           0  0 6 11 29 29 11 7 0       0.0
3       3           0  0 6 11 29 29 11 7 0       0.0
4       4           0  0 6 11 29 29 11 7 0       0.0
..    ...         ...                  ...       ...
265     4          29          29 29 29 29       0.0
266     5          29          29 29 29 29       0.0
267     6          29          29 29 29 29       0.0
268     7          29          29 29 29 29       0.0
269     8          29          29 29 29 29       0.0

[270 rows x 4 columns]