In [12]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('next_hop.csv')

In [4]:
df

      Iter  tx_node_id  rx_node_id  LossRate  next_hop
0        0           0           1      0.00         1
1        0           0           2      0.00         2
2        0           0           3      0.00         3
3        0           0           4     59.11         2
4        0           0           5     93.09         3
...    ...         ...         ...       ...       ...
4345     9          26          28      0.00        28
4346     9          26          29      0.00        29
4347     9          27          28      0.00        28
4348     9          27          29      0.00        29
4349     9          28          29      0.00        29

[4350 rows x 5 columns]

In [13]:
df['EqualColumns'] = np.nan
# Check if 'Column1' equals 'Column2' when 'Column3' is equal to 0
condition = ((df['LossRate'] == 0.0) & (df['rx_node_id'] == df['next_hop']))\
            | ((df['LossRate'] == 100.0) & (df['rx_node_id'] != df['next_hop']))

# Create a new column 'EqualColumns' based on the condition
df['EqualColumns'] = condition

In [14]:
condition = (df['LossRate'] != 0.0) & (df['LossRate'] != 100.0)

      Iter  tx_node_id  rx_node_id  LossRate  next_hop  EqualColumns
0        0           0           1      0.00         1          True
1        0           0           2      0.00         2          True
2        0           0           3      0.00         3          True
3        0           0           4     59.11         2         False
4        0           0           5     93.09         3         False
...    ...         ...         ...       ...       ...           ...
4345     9          26          28      0.00        28          True
4346     9          26          29      0.00        29          True
4347     9          27          28      0.00        28          True
4348     9          27          29      0.00        29          True
4349     9          28          29      0.00        29          True

[4350 rows x 6 columns]

In [9]:
filtered_df = df[df['EqualColumns'] == False]

In [10]:
filtered_df

      Iter  tx_node_id  rx_node_id  LossRate  next_hop  EqualColumns
31       0           1           4     40.65         4         False
138      0           5           9     53.83         9         False
160      0           6           8     25.01         8         False
206      0           8          11     61.02        11         False
248      0          10          14     63.78        14         False
...    ...         ...         ...       ...       ...           ...
4238     9          14          23     23.03        23         False
4241     9          14          26     20.46        26         False
4243     9          14          28     53.80        28         False
4255     9          15          26     32.70        26         False
4257     9          15          28     16.24        28         False

[236 rows x 6 columns]